* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.02em;
}

h1 {
    font-size: 22px;
    font-weight: 500;
    color: #1f2d3d;
    line-height: 1.4545454545;
}

span {
    font-size: 14px;
    font-weight: 400;
    color: #7d858f;
    line-height: 1.5;
}

strong {
    font-size: 22px;
    color: #2860e1;
    line-height: 1.0909090909;
}

strong span {
    font-size: 16px;
    font-weight: 400;
    color: #525d69;
    line-height: 1.5;
}

button {
    display: block;
    width: 28px;
    height: 28px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
}

#prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url(../assets/icon-backward.svg);
}

#next {
    position: absolute;
    top: 50%;
    right: 0;
    /* transform은 요소를 변형하는 속성 
        %의 기준은 자기 자신의 크기이다.
    */
    transform: translateY(-50%);
    background-image: url(../assets/icon-forward.svg);
}

/* ▼ WHERE YOUR CODE BEGINS */

.card {
    width: 400px;
}

/* image size를 사용할 때 많이 사용 
    100%는 부모의 크기에 맞추어 width를 맞추는 것
    auto는 본래 가진 사이즈로 맞추는 것
*/
.card-carousel {
    position: relative;
    background-color: black;
}

.card-carousel img {
    display: block;
    width: 100%;
    height: auto;
}

.card-content {
    padding: 12px 16px;
}

.card-content h1 {
    margin-bottom: 2px;
}

.card-content strong {
    display: block;
    margin-top: 8px;
    text-align: right;
}









