/*
    inline := 흐름 (옆으로 늘어서서 흐르려는 성질을 가짐)
    문서에 글을 작성하는 것과 동일함

    block은 '면'이라고 생각 inline은 '선'이라고 생각
    block은 영역을 잡기 위해서 사용
    inline은 컨텐츠를 흐르게 만들기 위해서 사용
        * 지양하는 것은 "흐름을 깨뜨리는 것"
        * inline의 특징은 이러한 특성을 깨뜨리는 특성들을 사용하지 못하게 막는다
        * ex) width, height, padding-top, padding-bottom, border-top, border-bottom, margin-top, margin-botton
        * "흐름을 박살내는 특성들"
        * margin-top 속성을 줄 경우에, 기존의 흐름을 깨지않고 영역을 덮는다
*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
    color: #212529;
}

span {
    color: #fff;
    background-color: #0066ff;
}