* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
}

h1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #273444;
}

/* ▼ WHERE YOUR CODE BEGINS */

/* image태그는 인라인 요소이지만 width, height가 적용된다. 
    하지만, 명시적으로 표현하기위해서 display: block으로 적용하는 것이 좋다.
*/
.user-photo img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-status {
    display: block;
    width: 8px;
    height: 8px;
    box-sizing: content-box;

    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #21D891;

    position: absolute;
    bottom: 0;
    right: 0;
}

.user-photo,
.user-name {
    float: left;
}

.user-card::after {
    display: block;
    content: "";
    clear: left;
}

.user-photo {
    margin-right: 12px;
    position: relative;
}

.user-name {
    padding-top: 8px;
    padding-bottom: 8px;
}

/*
    position 선정 기준
        * 자기가 원래 있던 자리에서 '맥락을 벗어나서' 배치?
            * viewport 기준 => fixed
            * 내가 원래 있던 위치를 기준으로 배치 => relative
            * 완전히 맥락에서 벗어나서 배치 => absolute
*/

.user-card {
    width: 240px;
    padding: 8px 12px;
    border: 1px solid #e5eaef;
    border-radius: 4px;
}